.article {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

.article .item {
    margin-bottom: 20px;
    height: 120px;
    background-color: inherit;
    border-bottom: 1px solid #eee;
}

.article .item .pic {
    height: 90%;
    width: 25%;
    float: left;
}

.article .item .pic img {
    height: 100%;
    width: 100%;
}

.article .item .detail {
    padding-left: 20px;
    height: 90%;
    width: 75%;
    display: block;
    float: right;
}

.article .item .detail .title {
    width: 50%;
    float: left;
    margin-bottom: 8px;
}

.article .item .detail .stats {
    width: 25%;
    float: right;
    margin-right: 20px;
}

.article .item .detail a {
    text-decoration: none;
}

.article .item .detail span {
    margin-top: 10px;
}

.article .item .content {
    height: 35%;
    float: left;
    overflow: hidden;
}

.article .item .pot {
    float: left;
    margin-top: 6px;
}
