div.article
    li(ng-repeat="article in articleList").item
        div.pic
            img(ng-src="{{article.imgUrlList[0]}}" + "?imageMogr2/thumbnail/80x100")
        div.detail
            div.title
                a {{article.title}}
            div.content
                {{article.content}}
            div.pot
                a ......
            div.stats
                span.glyphicon.glyphicon-star(aria-hidden="true")
                a &nbsp;{{article.star}}
