@import "../common";

.content-box {
    margin-top: .134rem;
    background-color: #fff;
    padding: .2rem;

    .content {
        margin-top: .2rem;
    }

    &.last {
        margin-bottom: .6rem;
    }
}
