@bodyBg: #eee;
@fontColor: #333333;
@mainColor: #584f60;
@maxWidth: 1080px;
@headHeight: .554rem;

.clear-size {
    padding: 0;
    margin: 0;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-button {
    background-color: transparent;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}



html {
    font-size: 75px;
}

body {
    width: 100%;
    max-width: @maxWidth;

    .clear-size;
    margin: 0 auto;
    background-color: @bodyBg;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    a {
        color: #000;
    }
    ul, li {
        .clear-size;
        list-style-type: none;
    }
    ul::-webkit-scrollbar {
        display: none;
    }
    h2, p {
        .clear-size;
        color: @fontColor;
    }
    #app {
        width: 100%;

        .part {
            margin-top: @headHeight;
        }
    }
}

.head {
    position: fixed;
    top: 0;
    width: 100%;
    height: @headHeight;
    max-width: @maxWidth;
    line-height: .554rem;
    font-size: .267rem;
    text-align: center;
    color: #fff;
    z-index: 999;

    background-color: @mainColor;
}

.slider {
    display: block;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background: lighten(@fontColor, 20%);
    transition: 1s;

    &::-webkit-scrollbar-button {
        background-color: transparent;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar {
        display: none;
    }

    li {
        display: inline-block;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
    }
}

.movementsList {
    width: 100%;
    // height: 5rem;
    margin-top: .067rem;
    background: lighten(@fontColor, 100%);

    .wrapper {
        padding: 0 .2rem;
    }

    .item {
        display: flex;
        position: relative;
        height: .8rem;
        padding: .067rem 0;
        overflow: hidden;
        border-bottom: 1px solid #f2f2f2;

        .icon {
            display: inline-flex;
            height: .8rem;
            width: .8rem;
            justify-content: center;
            align-items: center;

            background-color: @mainColor;
            border-radius: 5px;

            img {
                width: 70%;
            }
        }

        .info {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;
        }

        .right {
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
            border-right: 0;
            border-left: 15px solid @mainColor;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            transform: translate(-50%, -50%);
        }
        .right::before {
            content: "";
            position: absolute;
            left: -9px;
            width: 0;
            height: 0;
            border-right: 0;
            border-left: 15px solid lighten(@fontColor, 100%);;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            transform: translate(-50%, -50%);
        }
    }
}

footer {
    position: fixed;
    display: flex;
    width: 100%;
    max-width: @maxWidth;
    bottom: 0;
    padding-top: .134rem;
    padding-bottom: .066rem;
    justify-content: space-around;
    background-color: @mainColor;
    z-index: 999;

    a {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;

        .icon {
            height: .333rem;
        }

        p {
            font-size: .16rem;
            color: #fff;
        }
    }
}

.news-box {
    margin-top: .134rem;
    background-color: #fff;
    padding: .2rem;

    .content {
        margin-top: .2rem;
    }
}
.news-box.last {
    margin-bottom: .6rem;
}

.news-scroll {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    li {
        display: inline-block;
        width: 90%;
        height: 2rem;
        margin-right: .133rem;

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border: .013rem solid @mainColor;

        header {
            display: flex;
            width: 100%;
            height: 100%;

            flex-direction: column;
            align-items: center;
            justify-content: center;

            p, h2 {
                color: #fff;
            }
        }
    }
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    li {
        width: 48%;
        // height: 2.5rem;
        margin-bottom: .267rem;

        .bg {
            width: 100%;
            height: 2.5rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

        }

        p {
            margin: .096rem 0 .112rem 0;
            font-size: .16rem;
            word-wrap: break-word;
            word-break: normal;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}
