.top {
    width: 100%;
    height: 55px;
    padding-top: 6px;
    background-color: #113285;
    text-align: center;
}

.top a {
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.navigation {
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-left: 20%;
    padding-right: 20%;
}
.navigation .option {
    width: 33%;
    text-align: center;
    display: inline-block;
    float: left;
    border: 2px dotted #113285;
    border-radius: 8px;
}
.navigation .option a {

}
