.movement {
    margin-top: 15px;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    list-style: none;
}

/*.movement .item {
    width: 100%;
    float: left;
    height: 130px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1px solid #eee;
}

.movement .item img {
    height: 100%;
    width: 100%;
}*/

/* list */
.movement .list {

}

.movement .list .item {
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    background: #787D7B;
    margin-bottom: 10px;
    /*border-bottom: 1px solid #eee*/
}

.movement .list .item a {
    color: #FFFFFF;
}

.movement .list .item .link {
    width: 100%;
    height: 100%;
}

.movement .list .item .link::after {
    content: "";
    border-bottom: 1px solid #fff;
}

.movement .list .item .left {
    height: 100%;
    width: 100px;
    float: left;
    padding: 5px 0px 5px 5px;
}

.movement .list .item .left img {
    width: 100%;
    height: 100%;
}

.movement .list .item .right {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    height: 100%;
}

.movement .list .item .right .title {
    height: 30px;
    margin-top: -6px;
}

.movement .list .item .right .title h4 {
    /*margin-left: 10px;*/
    line-height: 30px;
}

/* show */
.movement .show {
    height: auto;
    background-color: #eee;
    padding-top: 2px;
    margin-bottom: 20px;
}

.movement .show h4,
.movement .show h5 {
    text-align: center;
}


.movement .show .muscle-groupgroup {
    /*height: 200px;*/
}

.movement .show .muscle-groupgroup img {
    margin: 0 5% 10px 5%;
    width: 90%;
}

.movement .show .description {
    padding-left: 2%;
    padding-right: 2%;
}

.movement .show a {
    text-decoration: none;
}


.movement .show .steps {
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    background: #787D7B;
    margin-bottom: 10px;
}

.movement .show .steps a {
    color: #FFFFFF;
}

.movement .show .steps .link {
    width: 100%;
    height: 100%;
}

.movement .show .steps .left {
    float: left;
    height: 100%;
}

.movement .show .steps .title {
    height: 30px;
    margin-top: -6px;
}

.movement .show .steps .title h4 {
    margin-left: 10px;
    line-height: 30px;
}

.movement .show .steps .level {
    height: auto;
    margin-top: 5px;
    margin-left: 30px;
    font-size: smaller;
}

.movement .show .steps .level li {
    list-style: initial;
}

.movement .show .steps .right {
    height: 100%;
    width: 100px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.movement .show .steps .right img {
    width: 100%;
    height: 100%;
}





/* ssteps */
/*
.ssteps {
    margin-top: 10px;
}

.ssteps .syuan {
    position: relative;
    width: 20px;
    height: 20px;
    float: left;
}

.ssteps .syuan::before {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 7px;
    background: #342828;
    content: '';
}

.ssteps .syuan::after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 20px;
    height: 7px;
    background: #342828;
    content: '';
}


.ssteps .syuan a {
    margin-top: -2px;
}*/
