div.movement
  div.item
    a(href="/home#/movement/1")
      img(src="http://www.tinengwang.com/uploads/allimg/130717/1-130GGH400509.jpg")
  div.item
    a(href="/home#/movement/2")
      img(src="http://www.tinengwang.com/uploads/allimg/130717/1-130GGH400509.jpg")
  div.item
    a(href="/home#/movement/3")
      img(src="http://www.tinengwang.com/uploads/allimg/130717/1-130GGH400509.jpg")
  div.item
    a(href="/home#/movement/4")
      img(src="http://www.tinengwang.com/uploads/allimg/130717/1-130GGH400509.jpg")
  div.item
    a(href="/home#/movement/5")
      img(src="http://www.tinengwang.com/uploads/allimg/130717/1-130GGH400509.jpg")
  div.item
    a(href="/home#/movement/6")
      img(src="http://www.tinengwang.com/uploads/allimg/130717/1-130GGH400509.jpg")
