div.movement
    div.show
        h4 {{movement.name}} - {{movement.nameEn}}
        h5 {{movement.slogan}}
        div.muscle-groupgroup
            img(src="{{movement.muscleGroupImgList}}")
        div.description
            a &nbsp &nbsp {{movement.description}}
        div.steps(ng-repeat="step in steps")
            a(href="/home#/movement/{{movement.position}}/step/{{step.position}}")
                div.link
                    div.left
                        div.title
                            h4 {{step.title}}
                        div.level
                            li(ng-repeat="level in step.level") {{level.title + "："}} {{level.group}} X {{level.count}}
                    div.right
                        img(src="{{step.imgList[1].imgUrl}}")
