.step {
    margin-top: 15px;
}

.step h3 {
    text-align: center;
}

.step .item {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: #eee;
}

.step .title {
    color: #337AB7;
}

.step .title h4::before{
    content: "";
    margin-right: 10px;
    border: 2px solid;
}

.step .content {
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
}

.step .content .img-show-item {
    margin-bottom: 10px;
}

.step .content img {
    width: 100%;
}

.back {
    width: 30px;
    height: 30px;
    bottom: 3%;
    right: 5%;
    position: fixed;
    background-color: #818181;
    border-radius: 15px;
    opacity: 0.8;
    line-height: 30px;
    text-align: center;
}
