div.step
    h3 {{step.name}}
    div.description.item
        div.title
            h4 动作
        div.content
            &nbsp &nbsp {{step.description}}
    div.img-show.item
        div.title
            h4 图解
        div.content
            div(ng-repeat="img in step.imgList").img-show-item
                img(src="{{img.imgUrl}}")
                {{img.description}}
    div.analysis.item
        div.title
            h4 心得
        div.content
            &nbsp &nbsp {{step.analysis}}
    div.level.item
        div.title
            h4 训练目标
        div.content
            li(ng-repeat="level in step.level")
                {{level.description}}
    div.suggest.item
        div.title
            h4 稳扎稳打
        div.content
            &nbsp &nbsp {{step.suggest}}
div(ng-click="back()").back
    返回
